# Environment variables
DEBUG=True
SECRET_KEY=django-insecure-dev-key-change-in-production-12345
DATABASE_NAME=eventapp_db
DATABASE_USER=eventapp_user
DATABASE_PASSWORD=eventapp_pass
DATABASE_HOST=localhost
DATABASE_PORT=5432
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
